streamlit
langchain
langchain-google-genai
langchain-community
pypdf
chromadb
langchain-chroma
google-generativeai
python-dotenv
firebase-admin
requests
pytest>=7.0.0
streamlit-oauth
google-auth
google-auth-oauthlib
simsimd
google-cloud-storage

# Evaluation and metrics
scikit-learn
numpy